In [14]:
import pandas as pd
import datetime

In [8]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [60]:
df=pd.read_csv('cd_jobs_geographical_details.csv')
df.head(4)

,FINREFERENCE,Pending No of Inst,Financing Tenure,Finance Amount,Business_Type,Bucket,Employees in Business,Business Category,Registered_Business,Financing_ID,...,Gender,Marital_Status,Current Address,City,State,Pincode,PREVIOUS_FINANCING,LIVE_FINANCING,CLOSED_FINANCING,CUSTOMERID
0,HO00CD00000053,0,6,4000000,Consumer Durables,18,NaN,NaN,NaN,NaN,...,M,M,"KORAS ROAD,VARTAK NAGAR B-7,403 VEDANT COMPLEX...",Thane,Maharashtra,400606,1,1,0,10000077
1,HO00CD00000055,0,8,1599000,Consumer Durables,0,NaN,NaN,NaN,NaN,...,M,S,"LAXAMI CHAWL, SURVE CHAWL, RM NO 1,THANE LAX...",Thane,Maharashtra,400606,1,0,1,10000080
2,HO00CD00000140,0,6,3450000,Consumer Durables,0,NaN,NaN,NaN,NaN,...,M,M,A 202 KUNAL ASPIREE BALEWADI PUNE A 202 KUNA...,Pune,Maharashtra,411045,1,0,1,10000173
3,HO00CD00000142,0,5,1299000,Consumer Durables,20,NaN,NaN,NaN,NaN,...,M,M,GAURI HOUSE N L ROAD SOMVAARI BAZAAR MARKETCH...,Mumbai,Maharashtra,400064,1,1,0,10000169

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29234 entries, 0 to 29233
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FINREFERENCE             29234 non-null  object
 1   Pending No of Inst       29234 non-null  int64
 2   Financing Tenure         29234 non-null  int64
 3   Finance Amount           29234 non-null  int64
 4   Business_Type            29234 non-null  object
 5   Bucket                   29234 non-null  int64
 6   Employees in Business    0 non-null      float64
 7   Business Category        0 non-null      float64
 8   Registered_Business      0 non-null      float64
 9   Financing_ID             0 non-null      float64
 10  Product                  29234 non-null  object
 11  Interest Rate            29234 non-null  float64
 12  First Installment Date   29234 non-null  object
 13  Last Installment Date    29234 non-null  object
 14  Disbursement Date        29234 non-null  object
 15  Flexibility in Inst Amt  0 non-null      float64
 16  Business Margin          0 non-null      float64
 17  Business Sector          0 non-null      float64
 18  Seasonality Impact       0 non-null      float64
 19  GST Number               0 non-null      float64
 20  UID Number               0 non-null      float64
 21  Guarantor                0 non-null      float64
 22  YearsOfBusiness          0 non-null      float64
 23  Co-Borrower              0 non-null      float64
 24  Number of Co-Borrower    0 non-null      float64
 25  Co-Borrower relation     0 non-null      float64
 26  Customer_Name            29234 non-null  object
 27  DOB                      29234 non-null  object
 28  Occupation               29234 non-null  object
 29  Highest_Education        0 non-null      float64
 30  Residence_Type           0 non-null      float64
 31  Branch                   29234 non-null  object
 32  Branch_City              29234 non-null  object
 33  Branch_State             29234 non-null  object
 34  Phone_Number             29234 non-null  int64
 35  Landline_Number          0 non-null      float64
 36  Gender                   29234 non-null  object
 37  Marital_Status           29234 non-null  object
 38  Current Address          29234 non-null  object
 39  City                     29234 non-null  object
 40  State                    29234 non-null  object
 41  Pincode                  29234 non-null  int64
 42  PREVIOUS_FINANCING       29234 non-null  int64
 43  LIVE_FINANCING           29234 non-null  int64
 44  CLOSED_FINANCING         29234 non-null  int64
 45  CUSTOMERID               29234 non-null  int64
dtypes: float64(19), int64(10), object(17)
memory usage: 10.3+ MB

In [62]:
df1=df['DOB']
df1

0        05-04-79
1        09-09-88
2        12-10-76
3        07-11-89
4        21-09-82
           ...
29229    10-04-86
29230    02-01-89
29231    31-07-77
29232    28-11-85
29233    19-01-90
Name: DOB, Length: 29234, dtype: object

In [63]:
df['Occupation']

0            Salaried
1            Salaried
2            Salaried
3        selfemployed
4            Salaried
             ...
29229    selfemployed
29230    selfemployed
29231    selfemployed
29232        Salaried
29233        Salaried
Name: Occupation, Length: 29234, dtype: object

In [64]:
df2=df['Current Address']
df2

0        KORAS ROAD,VARTAK NAGAR B-7,403 VEDANT COMPLEX...
1         LAXAMI CHAWL, SURVE CHAWL, RM NO 1,THANE  LAX...
2         A 202 KUNAL ASPIREE BALEWADI PUNE  A 202 KUNA...
3         GAURI HOUSE N L ROAD SOMVAARI BAZAAR MARKETCH...
4         APARTMENT FLAT NO 505 BULDG NO L 3 C WING FLO...
                               ...
29229     11(2), SHYAMPUR, Gajiwali, Shyampur, Haridwar...
29230     S/O Qamaruddin Khan, 49, KAzi AHAMAD NOOR, ZA...
29231     4 401 RAVINDRA NIWAS DNC ROAD BEHIND PRAGATI ...
29232     Q' C/O: Narmdeshwar Tiwari, Shin Raj Nagar 8 ...
29233     CO SANJAY KUMAR SALAWALA DEHRADUN CO SANJAY K...
Name: Current Address, Length: 29234, dtype: object

In [9]:
import datetime
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [32]:
df11=spark.read.csv('C:/Users/Gaurav/Desktop/Mahindra Project/Input Files_MP/Loan_Info_Montly_Snapshot_Level.csv', header=True, inferSchema=True)
MergeFile = df11.withColumn("CYCLEDAY", df11.Due_Date.substr(-2, 2))
MergeFile = MergeFile.withColumn("EMI",lit("Null"))
MergeFile = MergeFile.withColumn('OS_Amt', when(
        col('CYCLEDAY') >= date_format(add_months((from_unixtime(unix_timestamp(lit(datetime.datetime.now(
        ).strftime("%Y-%m-%d")), 'yyyy-MM-dd')).cast('date')), 0), "dd"), (col('EMI'))).otherwise(
        col('OVER_DUE_AMOUNT')))
MergeFile = MergeFile.select("CYCLEDAY","EMI","OVER_DUE_AMOUNT","OS_Amt").show()

+--------+----+---------------+-------+
|CYCLEDAY| EMI|OVER_DUE_AMOUNT| OS_Amt|
+--------+----+---------------+-------+
|      15|Null|        12160.0|   Null|
|      15|Null|       11467.99|   Null|
|      02|Null|            0.0|    0.0|
|      02|Null|            0.0|    0.0|
|      02|Null|            0.0|    0.0|
|      02|Null|            0.0|    0.0|
|      02|Null|         1792.7| 1792.7|
|      02|Null|            0.0|    0.0|
|      15|Null|            0.0|   Null|
|      15|Null|        1636.52|   Null|
|      02|Null|        1069.39|1069.39|
|      02|Null|        2926.71|2926.71|
|      02|Null|            0.0|    0.0|
|      02|Null|         163.74| 163.74|
|      02|Null|            0.0|    0.0|
|      02|Null|            0.0|    0.0|
|      02|Null|            0.0|    0.0|
|      02|Null|            0.0|    0.0|
|      02|Null|            0.0|    0.0|
|      02|Null|            0.0|    0.0|
+--------+----+---------------+-------+
only showing top 20 rows

In [2]:
import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('Practise').getOrCreate()
#df12 = df11.withColumn("Age", months_between(current_date(),col("DOB")))
#df11 = spark.read.csv('cd_jobs_geographical_details.csv', header=True, inferSchema=True).select("DOB")
#df11 =  df11.withColumn("Age",122 - df11.DOB.substr(-2,2).cast("int"))
df11 = spark.read.csv('cd_jobs_geographical_details.csv', header=True, inferSchema=True)
df11.columns

['FINREFERENCE',
 'Pending No of Inst',
 'Financing Tenure',
 'Finance Amount',
 'Business_Type',
 'Bucket',
 'Employees in Business',
 'Business Category',
 'Registered_Business',
 'Financing_ID',
 'Product',
 'Interest Rate',
 'First Installment Date',
 'Last Installment Date',
 'Disbursement Date',
 'Flexibility in Inst Amt',
 'Business Margin',
 'Business Sector',
 'Seasonality Impact',
 'GST Number',
 'UID Number',
 'Guarantor',
 'YearsOfBusiness',
 'Co-Borrower',
 'Number of Co-Borrower',
 'Co-Borrower relation',
 'Customer_Name',
 'DOB',
 'Occupation',
 'Highest_Education',
 'Residence_Type',
 'Branch',
 'Branch_City',
 'Branch_State',
 'Phone_Number',
 'Landline_Number',
 'Gender',
 'Marital_Status',
 'Current Address',
 'City',
 'State',
 'Pincode',
 'PREVIOUS_FINANCING',
 'LIVE_FINANCING',
 'CLOSED_FINANCING',
 'CUSTOMERID']

In [3]:
df11 = spark.read.csv('cd_jobs_geographical_details.csv', header=True, inferSchema=True).select("DOB")

In [50]:
df11=spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cdjobs_loan_monthly_snapshot.csv', header=True, inferSchema=True).dropDuplicates(["Loan_Account_Number"])

df11.columns

['Loan_Account_Number',
 'Customer_ID',
 'Loan_Status',
 'MORAT/Installment Holiday',
 'Installment_Presentment_Flag',
 'Due_Date',
 'Installment',
 'Paid_Date',
 'Paid_Amount',
 'POS',
 'DPD',
 'Bucket',
 'Last_Month_DPD',
 'Last_Month_Bucket',
 'Over_Due_Amount',
 'Bounce_Status',
 'Bureau Scrub',
 'Business_Date']

In [53]:
df12=spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cdjobs_receipt_hourly_snapshot.csv', header=True, inferSchema=True)
df12.columns

['LOAN_ACCOUNT_NUMBER',
 'CUSTOMER_ID',
 'RECEIPT_ID',
 'RECEIPT_AMOUNT',
 'RECEIPT_STATUS',
 'HOURLY_TIME_STAMP']

In [2]:
df11=spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/New_cd_jobs_loan_monthly_snapshot.csv', header=True, inferSchema=True).select("Due_Date","FINREFERENCE")

NameError: name 'spark' is not defined

In [61]:
df11=df11.withColumn("CycleDay",df11.Due_Date.substr(-2,2))

In [62]:
df11.show()

+----------+--------+
|  Due_Date|CycleDay|
+----------+--------+
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
|07-02-2022|      22|
+----------+--------+
only showing top 20 rows

In [46]:
import datetime
from pyspark.sql.functions import to_date
df11=spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/New_cd_jobs_loan_monthly_snapshot.csv', header=True, inferSchema=True).select("Due_Date")
df11=df11.withColumn("Due_Date",to_date(df11.Due_Date,'dd-MM-yyyy'))
df11.select("Due_Date").dtypes

[('Due_Date', 'date')]

In [47]:
df11.show()

+----------+
|  Due_Date|
+----------+
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
|2022-02-07|
+----------+
only showing top 20 rows

In [49]:
import datetime
df11 = df11.withColumn("TodayMinusDueDate", datediff(date_format(add_months((from_unixtime(unix_timestamp(lit(
    datetime.datetime.now().strftime("%Y-%m-%d")), 'yyyy-MM-dd')).cast('date')), 0), "yyyy-MM-dd"), col("Due_Date")))

In [50]:
df11.show()

+----------+-----------------+
|  Due_Date|TodayMinusDueDate|
+----------+-----------------+
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
|2022-02-07|               -3|
+----------+-----------------+
only showing top 20 rows

In [ ]:
df11= df11.withColumn("CYCLEDAY", df.DUE_DATE.substr(-2, 2))
df11= df11.withColumn('OS_Amt', when(col('CYCLEDAY') >= date_format(add_months((from_unixtime(unix_timestamp(lit(datetime.datetime.now().strftime("%Y-%m-%d")),
                                    'yyyy-MM-dd')).cast('date')), 0), "dd"), (col('EMI'))).otherwise(col('OVER_DUE_AMOUNT')))

In [54]:
df11=spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/New_cd_jobs_loan_monthly_snapshot.csv', header=True, inferSchema=True).select("Over_Due_Amount","Due_Date")
df11=df11.withColumn("Due_Date1",to_date(df11.Due_Date,'dd-MM-yyyy'))

In [56]:
df11= df11.withColumn("CYCLEDAY", df11.Due_Date1.substr(-2, 2))
df11=df11.withColumn("EMI",lit("Null"))

In [59]:
df11= df11.withColumn('OS_Amt', when(col('CYCLEDAY') >= date_format(add_months((from_unixtime(unix_timestamp(lit(datetime.datetime.now().strftime("%Y-%m-%d")),
                                    'dd-MM-yyyy')).cast('date')), 0), "dd"), (col('EMI'))).otherwise(col('OVER_DUE_AMOUNT')))

In [60]:
df11.show()

+---------------+----------+----------+--------+----+------+
|Over_Due_Amount|  Due_Date| Due_Date1|CYCLEDAY| EMI|OS_Amt|
+---------------+----------+----------+--------+----+------+
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|           0.84|07-02-2022|2022-02-07|      07|Null|  0.84|
|           1.23|07-02-2022|2022-02-07|      07|Null|  1.23|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|           0.06|07-02-2022|2022-02-07|      07|Null|  0.06|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|         9400.0|07-02-2022|2022-02-07|      07|Null|9400.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|           2.87|07-02-2022|2022-02-07|      07|Null|  2.87|
|            0.0|07-02-2022|2022-02-07|      07|Null|   0.0|
|         154.64|07-02-2022|2022-02-07|      07|Null|154.64|
+---------------+----------+----------+--------+----+------+
only showing top 20 rows

In [62]:
df11=spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/New_cd_jobs_loan_monthly_snapshot.csv', header=True, inferSchema=True).select("Due_Date")
df11=df11.withColumn("Due_Date",lit("Null"))

In [63]:
df11.show()

+--------+
|Due_Date|
+--------+
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
|    Null|
+--------+
only showing top 20 rows

In [16]:
finalDF = spark.read.csv('C:/Users/Gaurav/Desktop/Testing/*', header=True,inferSchema=True).select("BUCKET")

In [17]:
finalDF.show()

+------+
|BUCKET|
+------+
|     0|
|     1|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     1|
|     0|
|     0|
|     0|
|     1|
|     0|
|     0|
|     0|
|     1|
|     0|
|     3|
+------+
only showing top 20 rows

In [2]:
!pip install mitoinstaller

Defaulting to user installation because normal site-packages is not writeable
Collecting mitoinstaller
  Downloading mitoinstaller-0.0.106.tar.gz (15 kB)
Collecting analytics-python
  Downloading analytics_python-1.4.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: colorama in c:\program files\python310\lib\site-packages (from mitoinstaller) (0.4.4)
Collecting termcolor
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Requirement already satisfied: python-dateutil>2.1 in c:\program files\python310\lib\site-packages (from analytics-python->mitoinstaller) (2.8.2)
Collecting backoff==1.10.0
  Downloading backoff-1.10.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: six>=1.5 in c:\program files\python310\lib\site-packages (from analytics-python->mitoinstaller) (1.16.0)
Collecting requests<3.0,>=2.7
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
Collecting monotonic>=1.5
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting certifi>=2017.4.17
  Downloading certifi-2021.10.8-py2.py3-none-any.whl (149 kB)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\gaurav\appdata\roaming\python\python310\site-packages (from requests<3.0,>=2.7->analytics-python->mitoinstaller) (2.0.10)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gaurav\appdata\roaming\python\python310\site-packages (from requests<3.0,>=2.7->analytics-python->mitoinstaller) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gaurav\appdata\roaming\python\python310\site-packages (from requests<3.0,>=2.7->analytics-python->mitoinstaller) (1.26.8)
Using legacy 'setup.py install' for mitoinstaller, since package 'wheel' is not installed.
Using legacy 'setup.py install' for termcolor, since package 'wheel' is not installed.
Installing collected packages: certifi, requests, monotonic, backoff, termcolor, analytics-python, mitoinstaller
    Running setup.py install for termcolor: started
    Running setup.py install for termcolor: finished with status 'done'
    Running setup.py install for mitoinstaller: started
    Running setup.py install for mitoinstaller: finished with status 'done'
Successfully installed analytics-python-1.4.0 backoff-1.10.0 certifi-2021.10.8 mitoinstaller-0.0.106 monotonic-1.6 requests-2.27.1 termcolor-1.1.0

WARNING: You are using pip version 21.2.4; however, version 22.0.2 is available.
You should consider upgrading via the 'C:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

In [13]:
import mitosheet
df=pd.read_csv('cd_jobs_geographical_details.csv')

In [15]:
a=mitosheet.sheet(df)

In [16]:
a

MitoWidget(analysis_data_json='{"analysisName": "UUID-5d0d7321-60e9-4916-9485-a132c47b8737", "code": {"importsâ€¦