# Finreference ,Due_Date,ReceiptDate,Status=R
# Due_Date >= ReceiptDate onCycle '1'
# Due_Date < ReceiptDate onCycle='0'

In [114]:
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pyspark.sql.functions import *
import datetime
spark = SparkSession \
    .builder \
    .appName('Mahindra-main') \
    .getOrCreate()

In [3]:
df1= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cdjobs_receipt_hourly_snapshot.csv',header=True,inferSchema=True)

In [4]:
df1 = df1.select('LOAN_ACCOUNT_NUMBER','RECEIPT_STATUS','HOURLY_TIME_STAMP')
df1 = df1.withColumnRenamed('HOURLY_TIME_STAMP','Receipt_Date')

In [5]:
df2= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/New_cd_jobs_loan_monthly_snapshot.csv',header=True,inferSchema=True)

In [102]:
df2 = df2.select('Loan_Account_Number','Due_Date','Bucket')

In [103]:
df= df1.join(df2,df1.LOAN_ACCOUNT_NUMBER==df2.Loan_Account_Number,'right_outer').drop(df2.Loan_Account_Number)

In [110]:
df.coalesce(1).write.csv('C:/Users/Gaurav/Desktop/Data_Check/AdditionalOutput', header=True)

In [82]:
df3= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/AdditionalOutput/a11.csv',header=True,inferSchema=True)
#df3 = df3.withColumn('Receipt_Date1',lit('Null'))

In [83]:
df3 = df3.select('LOAN_ACCOUNT_NUMBER','RECEIPT_STATUS','Due_Date','Receipt_Date1','Bucket')
df3.show()

+-------------------+--------------+----------+-------------+------+
|LOAN_ACCOUNT_NUMBER|RECEIPT_STATUS|  Due_Date|Receipt_Date1|Bucket|
+-------------------+--------------+----------+-------------+------+
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
|     CRO0CD00001673|             R|10-02-2022|         null|     0|
+-------------------+--------------+----------+-------------+------+
only showing top 20 rows

In [84]:
df3 = df3.fillna({'Receipt_Date1':'05-02-2022'})

In [85]:
 df3 = df3.withColumn('OnCycle', when((col('RECEIPT_STATUS')=='R') 
                                     & (col('Receipt_Date1')<=col('Due_Date')),1).otherwise(0))

#df3.filter(col('OnCycle')==0).show()
df3.show()

+-------------------+--------------+----------+-------------+------+-------+
|LOAN_ACCOUNT_NUMBER|RECEIPT_STATUS|  Due_Date|Receipt_Date1|Bucket|OnCycle|
+-------------------+--------------+----------+-------------+------+-------+
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|
+-------------------+--------------+----------+-------------+------+-------+
only showing top 20 rows

# Normax => if cycle!=1  and  and Receipt_Date1 <=MonthLastDate

In [90]:
df3 = df3.withColumn('monthEnddate', last_day((from_unixtime(unix_timestamp(lit(datetime.datetime.now().strftime("%Y-%m-%d")), 'yyyy-MM-dd')).cast('date'))))
df3.show()

+-------------------+--------------+----------+-------------+------+-------+------------+
|LOAN_ACCOUNT_NUMBER|RECEIPT_STATUS|  Due_Date|Receipt_Date1|Bucket|OnCycle|monthEnddate|
+-------------------+--------------+----------+-------------+------+-------+------------+
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|
+-------------------+--------------+----------+-------------+------+-------+------------+
only showing top 20 rows

In [91]:
#df3.coalesce(1).write.csv('C:/Users/Gaurav/Desktop/Data_Check/AdditionalOutput1', header=True)
#df3= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/AdditionalOutput1/check.csv',header=True,inferSchema=True)
df3 = df3.withColumn('Normax',when((col('OnCycle')!=1) & (col('RECEIPT_STATUS')!='R')
                                      & (col('Receipt_Date1')<=col('monthEnddate')),1).otherwise(0))

In [93]:
df3.show()
df3.coalesce(1).write.csv('C:/Users/Gaurav/Desktop/Data_Check/Output', header=True)

+-------------------+--------------+----------+-------------+------+-------+------------+------+
|LOAN_ACCOUNT_NUMBER|RECEIPT_STATUS|  Due_Date|Receipt_Date1|Bucket|OnCycle|monthEnddate|Normax|
+-------------------+--------------+----------+-------------+------+-------+------------+------+
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
|     CRO0CD00001673|             R|10-02-2022|   05-02-2022|     0|      1|  2022-02-28|     0|
+-------------------+--------------+----------+-------------+------+-------+------------+------+
only showing top 20 rows

# Balance_Builder
# last month bucket greater than Zero and current month Bucket is Zero

In [188]:
df4 = spark.read.csv('C:/Users/Gaurav/Desktop/Data/FairCent.csv',header=True,inferSchema=True)
df4 = df4.select('LOAN_ID','DPD','DUE_DATE','PAID_DATE')
df4 = df4.withColumn('BUCKET', when(col('DPD') == 0, 0).when((col('DPD') > 0) & (col('DPD') <= 30), 1).when(
        (col('DPD') >= 31) & (col('DPD') <= 60), 2).when((col('DPD') >= 61) & (col('DPD') <= 89), 3).when(col('DPD') >= 90, 4))

df4 = df4.select('LOAN_ID', 'DUE_DATE', 'PAID_DATE', 'BUCKET')
df4.show()

+----------+----------+----------+------+
|   LOAN_ID|  DUE_DATE| PAID_DATE|BUCKET|
+----------+----------+----------+------+
|1000012712|2021-08-10|      null|     4|
|1000030737|2021-08-05|2021-09-02|     3|
|1000102666|2021-08-05|      null|     4|
|1000143742|2021-08-05|      null|     3|
|1000148615|2021-08-01|      null|     4|
|1000160080|2021-08-10|      null|     4|
|1000169816|2021-08-05|      null|     4|
|1000176402|2021-08-10|      null|     4|
|1000191209|2021-08-10|      null|     2|
|1000235810|2021-08-10|      null|     4|
|1000236992|2021-08-10|      null|     4|
|1000248105|2021-08-10|2021-08-16|     0|
|1000270979|2021-08-10|      null|     4|
|1000294038|2021-08-10|      null|     3|
|1000320258|2021-08-05|2021-08-06|     0|
|1000346176|2021-08-10|2021-08-11|     0|
|1000347465|2021-08-10|      null|     4|
|1000355470|2021-08-05|      null|     2|
|1000372140|2021-08-10|      null|     4|
|1000383563|2021-08-10|      null|     4|
+----------+----------+----------+------+
only showing top 20 rows

In [189]:
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pyspark.sql.functions import *
import datetime
spark = SparkSession \
    .builder \
    .appName('Mahindra-main') \
    .getOrCreate()

In [10]:
df1= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cd_jobs_geographical_details.csv',header=True,inferSchema=True)
df2= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cdjobs_receipt_hourly_snapshot.csv',header=True,inferSchema=True)


df3= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cdjobs_loan_info_disbursement.csv',header=True,inferSchema=True)

df4= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cdjobs_loan_monthly_snapshot.csv',header=True,inferSchema=True)
df5= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cdjobs_receipt_hourly_snapshot.csv',header=True,inferSchema=True)

In [211]:
from pyspark.sql.functions import *
df4 = df4.withColumn("Due_date1",to_date(col("Due_Date")))

In [213]:
df3.columns

['Loan_Account_Number',
 'Customer_ID',
 'Disbursement_Date',
 'Disbursement_Amount',
 'Tenure',
 'Interest Rate',
 'Installment',
 'First Due Date',
 'Last Due Date',
 'Loan_Type',
 'Product',
 'Segment',
 'Acquistion Channel',
 'Security if available',
 'Co-Applicant if applicable']

In [7]:
df2= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/New_cd_jobs_loan_monthly_snapshot.csv',header=True,inferSchema=True).select("DPD")

In [8]:
df2 = df2.withColumn("BUCKET_MOVEMENT", when((col("DPD")==0),"NL").otherwise("RF"))

In [9]:
df2.show()

+---+---------------+
|DPD|BUCKET_MOVEMENT|
+---+---------------+
|  0|             NL|
|  8|             RF|
|  8|             RF|
|  0|             NL|
|  0|             NL|
|  0|             NL|
|  0|             NL|
|  0|             NL|
|  0|             NL|
|  8|             RF|
|  0|             NL|
|  0|             NL|
| 69|             RF|
|  0|             NL|
|  0|             NL|
|  0|             NL|
|  0|             NL|
|  8|             RF|
|  0|             NL|
|  8|             RF|
+---+---------------+
only showing top 20 rows

In [11]:
df5= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/cdjobs_receipt_hourly_snapshot.csv',header=True,inferSchema=True)

In [13]:
df5 = df5.select("LOAN_ACCOUNT_NUMBER","HOURLY_TIME_STAMP")

In [23]:
import datetime
df5 = df5.withColumn("Receipt_Date",date_format(col("HOURLY_TIME_STAMP"),"yyyy-MM-dd").cast("date"))

In [24]:
df5 = df5.withColumn("Receipt",from_unixtime(unix_timestamp(col("HOURLY_TIME_STAMP"),"yyyy-MM-dd'T'HH:mm:ss.SSS"),"yyyy-MM-dd"))

In [25]:
df5= df5.withColumn("Due_date1",to_date(col("HOURLY_TIME_STAMP")))

In [26]:
df5.show()

+-------------------+-------------------+------------+-------+---------+
|LOAN_ACCOUNT_NUMBER|  HOURLY_TIME_STAMP|Receipt_Date|Receipt|Due_date1|
+-------------------+-------------------+------------+-------+---------+
|     HO00CD00000011|02/15/2020:00:00:00|        null|   null|     null|
|     HO00CD00000074|03/15/2020:00:00:00|        null|   null|     null|
|     HO00CD00000077|03/17/2020:00:00:00|        null|   null|     null|
|     HO00CD00000096|03/17/2020:00:00:00|        null|   null|     null|
|     HO00CD00000073|03/17/2020:00:00:00|        null|   null|     null|
|     HO00CD00000072|03/19/2020:00:00:00|        null|   null|     null|
|     HO00CD00000072|03/19/2020:00:00:00|        null|   null|     null|
|     HO00CD00000072|03/19/2020:00:00:00|        null|   null|     null|
|     HO00CD00000094|03/15/2020:00:00:00|        null|   null|     null|
|     HO00CD00000082|03/15/2020:00:00:00|        null|   null|     null|
|     HO00CD00000071|03/15/2020:00:00:00|        null|   null|     null|
|     HO00CD00000015|04/22/2020:00:00:00|        null|   null|     null|
|     HO00CD00000250|04/22/2020:00:00:00|        null|   null|     null|
|     HO00CD00000216|04/22/2020:00:00:00|        null|   null|     null|
|     HO00CD00000143|04/23/2020:00:00:00|        null|   null|     null|
|     HO00CD00000066|04/24/2020:00:00:00|        null|   null|     null|
|     HO00CD00000181|04/25/2020:00:00:00|        null|   null|     null|
|     HO00CD00000003|05/02/2020:00:00:00|        null|   null|     null|
|     HO00CD00000043|05/02/2020:00:00:00|        null|   null|     null|
|     HO00CD00000045|05/02/2020:00:00:00|        null|   null|     null|
+-------------------+-------------------+------------+-------+---------+
only showing top 20 rows

In [79]:
import datetime
from datetime import datetime
from pyspark.sql.functions import *

d1= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/Dummy.csv',header=True,inferSchema=True)
#a1 = datetime.today().date()
#a2 = a1.replace(day=1)
#d1 = d1.withColumn("Due_Date",col("Due_Date").cast("date"))
d1 = d1.withColumn("DUE_DATE",to_date(col("DUE_DATE"),'dd-MM-yyyy'))
d1 = d1.withColumn("beginning_of_month_date", trunc(col("Due_Date"), "month"))
d1.printSchema()

root
 |-- Loan_ID: integer (nullable = true)
 |-- Bounce_Date: string (nullable = true)
 |-- DPD: integer (nullable = true)
 |-- Bucket: integer (nullable = true)
 |-- DUE_DATE: date (nullable = true)
 |-- beginning_of_month_date: date (nullable = true)

In [96]:
d1=d1.withColumn("Balance_Builder",when((col("Bucket")>0),1).otherwise(0))

In [97]:
d1.show()

+-------+-----------+---+------+----------+-----------------------+---------------+
|Loan_ID|Bounce_Date|DPD|Bucket|  DUE_DATE|beginning_of_month_date|Balance_Builder|
+-------+-----------+---+------+----------+-----------------------+---------------+
|   1234| 01-02-2022| 90|     3|2020-01-10|             2020-01-01|              1|
|   1234| 01-02-2022|  0|     0|2020-02-10|             2020-02-01|              0|
|   1234| 01-02-2022| 30|     1|2020-03-10|             2020-03-01|              1|
|   1234| 01-02-2022| 90|     3|2020-04-10|             2020-04-01|              1|
|   1234| 01-02-2022|120|     4|2020-05-10|             2020-05-01|              1|
|   1234| 01-02-2022|120|     4|2020-06-10|             2020-06-01|              1|
|   1234| 01-02-2022|120|     4|2020-07-10|             2020-07-01|              1|
|   1234| 01-02-2022| 60|     2|2020-08-10|             2020-08-01|              1|
|   1234| 01-02-2022|  0|     0|2020-09-10|             2020-09-01|              0|
|   1234| 01-02-2022|  0|     0|2020-10-10|             2020-10-01|              0|
|   1234| 01-02-2022|  0|     0|2020-11-10|             2020-11-01|              0|
|   1234| 01-02-2022| 60|     2|2020-12-10|             2020-12-01|              1|
|   1234| 01-02-2022| 60|     2|2021-01-10|             2021-01-01|              1|
|   1234| 01-02-2022| 60|     2|2021-02-10|             2021-02-01|              1|
|   1234| 01-02-2022| 30|     1|2021-03-10|             2021-03-01|              1|
|   1234| 01-02-2022| 60|     2|2021-04-10|             2021-04-01|              1|
|   1234| 01-02-2022| 90|     3|2021-05-10|             2021-05-01|              1|
|   1234| 01-02-2022|  0|     0|2021-06-10|             2021-06-01|              0|
|   1234| 01-02-2022|  0|     0|2021-07-10|             2021-07-01|              0|
|   1234| 01-02-2022| 30|     1|2021-08-10|             2021-08-01|              1|
+-------+-----------+---+------+----------+-----------------------+---------------+
only showing top 20 rows

In [197]:

f5= spark.read.csv('C:/Users/Gaurav/Desktop/Data_Check/testing.csv',header=True).select("RECEIPTDATE")

In [201]:

#f5 = f5.withColumn("DUE_DATE", to_date(col("DUE_DATE"), 'dd-MM-yyyy'))
f5 = f5.withColumn("RECEIPTDATE",split(col("RECEIPTDATE"),":").getItem(0))
f5 = f5.withColumn("RECEIPTDATE1", to_date(col("RECEIPTDATE"), 'dd/MM/yyyy'))

In [202]:
f5.show()

+-----------+------------+
|RECEIPTDATE|RECEIPTDATE1|
+-----------+------------+
| 11/12/2021|  2021-12-11|
| 10/01/2021|  2021-01-10|
| 01/01/2022|  2022-01-01|
| 01/01/2022|  2022-01-01|
| 12/05/2021|  2021-05-12|
| 11/01/2021|  2021-01-11|
| 01/01/2022|  2022-01-01|
| 11/10/2021|  2021-10-11|
| 12/02/2021|  2021-02-12|
| 01/01/2022|  2022-01-01|
| 11/03/2021|  2021-03-11|
| 12/02/2021|  2021-02-12|
| 11/19/2021|        null|
| 12/02/2021|  2021-02-12|
| 12/01/2021|  2021-01-12|
| 10/01/2021|  2021-01-10|
| 10/31/2021|        null|
| 12/02/2021|  2021-02-12|
| 11/03/2021|  2021-03-11|
| 12/02/2021|  2021-02-12|
+-----------+------------+
only showing top 20 rows